* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 233, 233);
}

html {
    overflow-y: scroll; /* Scrollbar vertikal selalu muncul */
}

header.header {
    height: 110px;
    background-color: white;
    display: flex; /* Flexbox untuk tata letak */
    justify-content: space-between; /* Rata kiri-kanan */
    align-items: center;
    padding: 40px; /* Jarak dalam header */
    width: 100%;
}

.menu {
    display: flex; /* Flexbox untuk menu, harus ada ini klo mau ada gap */
    gap: 40px; /* Jarak antar menu */
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    padding: 10px;
}

.menu a:hover { /* efek ketika kursor mendekat */
    background-color: aqua;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.menu a.active {
    background-color: aqua;
    border-radius: 10px; /* efek ketika menu aktif agak membulat */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content {
    padding: 30px;
}

.jadwal {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.jadwal th,
.jadwal td {
    border: 5px solid black;
    padding: 10px;
    text-align: center;
}

.jadwal th {
    background-color: aqua;
}

.istirahat {
    text-align: center;
    font-weight: bold;
    background-color: gray;
}


.footer {
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: column; /* agar ngelist ke bawah */
    justify-content: center; /* rata tengah */
    align-items: center; /* rata tengah */
    width: 100%;
}


.social-icons {
    margin-top: 20px;
    font-size: 17px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.social-icons a { 
    text-decoration: none;
    color: black;
}

.social-icons a:hover { 
    color: red;
}